/* Banner */
.banner {
    height: 600px;
    position: relative;
    overflow: hidden;

    .image {
        display: block;
        object-fit: cover;
        filter: blur(2px);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .content {
        .logo {
            width: 243px;
        }

        .slogan {
            font-size: 1.6em;
            color: white;
        }
    }

    .banner-buttons {
        box-sizing: border-box;
        width: 100%;
    }

    .banner-buttons a {
        max-width: 200px;
        width: 100%;
    }
}

.about-us {
    .text {
        font-size: 1.1em;
    }

    .mvv {
        .mvv-item {
            p {
                font-size: 1.1em;

                span {
                    font-family: "DM Serif Text";
                    color: var(--main-color);
                    font-size: 1.8em;
                }
            }
        }

    }

    .about-us-buttons {
        text-align: center;
    }
}

.course {
    background-color: var(--secondary-color);
    min-height: 300px;

    .content {
        .img {
            max-width: 510px;
            width: 100%;

            img {
                width: 100%;
                height: auto;
                max-height: 550px;
                object-fit: cover;
                display: block;
            }
        }

        .course-text {
            font-size: 1.1em;
            width: 100%;

            .text-title {
                font-family: "DM Serif Text";
                color: var(--main-color);
                font-size: 1.4em;
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .course {
        .content {
            flex-direction: column !important;
        }

        .img {
            max-width: 1024px !important;
            margin: 0 auto;

            img {
                max-height: 350px !important;
            }
        }

        .learn-more{
            text-align: center;
        }
    }
}